// Conda Tool Configurations
// Each tool's conda package specification

process {
    // Genome analysis tools
    withName: 'INSTALL_DREP' {
        conda = "bioconda::drep=3.5.0"
    }
    
    withName: 'INSTALL_CHECKM2' {
        conda = "bioconda::checkm2=1.0.1"
    }

    withName: 'INSTALL_CHECKM2_DATABASE' {
        conda = "bioconda::checkm2=1.0.1"
    }
    
    withName: 'INSTALL_PARSING_ENV' {
        conda = "conda-forge::pandas=2.2.3 conda-forge::biopython=1.84"
    }
    
    // Prophage detection tools
    withName: 'INSTALL_GENOMAD' {
        conda = "bioconda::genomad=1.8.1"
    }

    withName: 'INSTALL_GENOMAD_DATABASE' {
    conda = "bioconda::genomad=1.8.1"
    }
    
    withName: 'INSTALL_VIBRANT' {
        conda = "bioconda::vibrant=1.2.1"
    }

    withName: 'INSTALL_VIBRANT_DATABASE' {
    conda = "bioconda::vibrant=1.2.1"
    }

    withName: 'INSTALL_CHECKV_DATABASE' {
        conda = "conda-forge::python=3.9 bioconda::checkv=1.0.3 bioconda::blast=2.16.0 bioconda::seqfu=1.22.0 bioconda::diamond=2.1.9"
    }

    withName: 'INSTALL_PHAROKKA_DATABASE' {
        conda = "bioconda::pharokka=1.7.4"
    }

    withName: 'INSTALL_PHOLD_DATABASE' {
        conda = "bioconda::phold=0.2.0"
    }
    
    // Annotation tools
    withName: 'INSTALL_CHECKV' {
        conda = "conda-forge::python=3.9 bioconda::checkv=1.0.3 bioconda::blast=2.16.0 bioconda::seqfu=1.22.0"
    }
    
    withName: 'INSTALL_PHAROKKA' {
        conda = "bioconda::pharokka=1.7.4"
    }
    
    withName: 'INSTALL_PHOLD' {
        conda = "bioconda::phold=0.2.0"
    }

    // bacterial workflow
    withName: 'CHECKM2' {
        conda = "bioconda::checkm2=1.0.1"
    }

    withName: 'DREP' {
        conda = "bioconda::drep=3.5.0"
    }

    withName: 'FILTER_GENOMES' {
        conda = "conda-forge::pandas=2.2.3 conda-forge::biopython=1.84"
    }

    withName: 'SUMMARY_REPORT' {
        conda = "conda-forge::pandas=2.2.3 conda-forge::biopython=1.84"
    }

    // Prophage tool conda environments
    withName: 'GENOMAD' {
        conda = "bioconda::genomad=1.8.1"
    }

    withName: 'VIBRANT' {
        conda = "bioconda::vibrant=1.2.1"
    }

    withName: 'PARSE_GENOMAD' {
        conda = "conda-forge::pandas=2.2.3 conda-forge::biopython=1.84"
    }

    withName: 'PARSE_VIBRANT' {
        conda = "conda-forge::pandas=2.2.3 conda-forge::biopython=1.84"
    }

    withName: 'COMPARE_PROPHAGES' {
        conda = "conda-forge::pandas=2.2.3 conda-forge::biopython=1.84"
    }
    
    withName: 'PROPHAGE_SUMMARY' {
        conda = "conda-forge::pandas=2.2.3 conda-forge::biopython=1.84"
    }

    // Annotation workflow analysis processes

    withName: 'CHECKV|CLUSTER_PHAGES|EXTRACT_REPRESENTATIVES' {
        conda = "conda-forge::python=3.9 bioconda::checkv=1.0.3 bioconda::blast=2.16.0 bioconda::seqfu=1.22.0"
    }
    
    withName: 'PHAROKKA' {
        conda = "bioconda::pharokka=1.7.4"
    }
    
    withName: 'PHOLD' {
        conda = "bioconda::phold=0.2.0"
    }
    
    // Utility processes (reuse parsing_env)
    withName: 'PARSE_CHECKV|SPLIT_FASTA|PARSE_FILTER_ANNOTATIONS|ANNOTATION_SUMMARY' {
        conda = "conda-forge::pandas=2.2.3 conda-forge::biopython=1.84"
    }

}